#App.py

pip install Flask python-firebase PyCrypto
pip install python-firebase
pip install cryptography
pip install pycryptodome
pip install pycryptodomex
pip install firebase-admin python-firebase
pip install python-firebase

#Functions.py

pip install pycryptodome firebase-admin
