<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption/Decryption</title>
</head>
<body>

<h1>Image Encryption/Decryption</h1>

<!-- Encrypt Image Form -->
<form action="/encrypt_image" method="post" enctype="multipart/form-data">
    <h2>Encrypt Image</h2>
    <label for="image">Select Image:</label>
    <input type="file" name="image" required><br>
    <label for="password_file">Select Password File:</label>
    <input type="file" name="password_file" required><br>
    <button type="submit">Encrypt Image</button>
</form>

<!-- Decrypt Image Form -->
<h1>Desencriptar Imagen</h1>

<form action="/desencriptar" method="post" enctype="multipart/form-data">
    <label for="image">Select Image:</label>
    <label for="clave">Clave de desencriptación:</label>
    <input type="file" name="image" required><br>
    <label for="password_file">Select Password File:</label>
    <input type="file" name="password_file" required><br>
    <br>
    <input type="submit" value="Desencriptar Imagen">
</form>

<!-- Generate and Download Key -->
<form action="/generar_clave" method="get">
    <h2>Generate and Download Key</h2>
    <button type="submit">Generate Key</button>
</form>

</body>
</html>