{% extends "layout.html" %}
{% block title %}
Nuestro trabajo{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/diseño.css" />
<div class="titulo">
    <h1 class="titulo">Equipo de Desarrollo</h1>
</div>
<div class="container">
    <div class="card">
        <h2>Llubi</h2>
        <p><strong>Rol: Lider </strong></p>
        <p><strong>GitHub: <a href="https://github.com/Llubi" target="_blank">Llubi</a> </strong></p>
        <p><strong>Tareas Realizadas: Cifrado Asimétrico</strong></p>
            <li class="task-item">
                <strong>Fecha de Inicio: 6/11/23</strong> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Juan Francisco</h2>
        <p><strong>Rol: Gestor de Base de datos </strong></p>
        <p><strong>GitHub: <a href="https://github.com/Jfx2m" target="_blank">Jfx2m</a> </strong></p>
        <p><strong>Tareas Realizadas: Gestion de Base de datos y Cifrado Híbrido</strong></p>
        <li class="task-item">
            <strong>Fecha de Inicio: 6/11/23</strong> 
        </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Aarón</h2>
        <p><strong>Rol: Diseñador Gráfico </strong></p>
        <p><strong>GitHub: <a href="https://github.com/SP3CKS" target="_blank">Cecilio Aarón</a> </strong></p>
        <p><strong>Tareas Realizadas: Cifrado Simétrico</strong></p>
        <li class="task-item">
            <strong>Fecha de Inicio: 6/11/23</strong> 
        </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>
</div>

    {% endblock %}