{% extends "layout.html" %}
{% block title %}
C. Simétrico
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cifrado Simétrico</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <h1>Aplicación de Encriptación</h1>
    <form id="formularioEncriptacion" action="/encrypt" method="post" enctype="multipart/form-data">
        <label for="file">Elige un archivo:</label></br>
        <input type="file" name="file" required>
        <label for="algorithm">Elige el algoritmo de encriptación:</label></br>
        <select name="algorithm" required>
            <option value="des">DES</option>
            <option value="rsa">RSA</option>
        </select></br></br>
        <button type="submit">Encriptar</button></br>
    </br>
    </form>
    
    <form id="formularioDesencriptacion" action="/decrypt" method="post" enctype="multipart/form-data">
        <label for="ciphertext">Elige un archivo de texto cifrado:</label>
        <input type="file" name="ciphertext" required></br>
        <label for="key">Elige el archivo de clave:</label>
        <input type="file" name="key" required></br>
        <label for="algorithm">Elige el algoritmo de desencriptación:</label></br>
        <select name="algorithm" required>
            <option value="des">DES</option>
            <option value="rsa">RSA</option>
        </select></br></br>
        <button type="submit">Desencriptar</button></br>
    </form>

    <!-- Script JavaScript para manejar la lógica de la aplicación -->
<script>
    // Función para mostrar una alerta de éxito
    function mostrarAlerta(mensaje) {
        alert(mensaje);
    }

    // Adjunta el escuchador de eventos a las presentaciones de formularios de encriptación
    document.getElementById('formularioEncriptacion').addEventListener('submit', function (event) {
        // Previene el comportamiento por defecto del formulario (recargar la página)
        event.preventDefault();
        
        // Crea un objeto FormData con los datos del formulario
        var formData = new FormData(this);

        // Envía el formulario utilizando la API Fetch y AJAX
        fetch('/encrypt', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())  // Convierte la respuesta a formato JSON
        .then(data => {
            // Procesa la respuesta JSON del servidor
            if (data.success) {
                // Muestra una alerta en caso de éxito
                mostrarAlerta('¡Encriptación exitosa!');
            } else {
                // Muestra una alerta en caso de error
                mostrarAlerta('¡Error de encriptación!');
            }
        })
        .catch(error => {
            // Muestra una alerta en caso de error durante la solicitud AJAX
            mostrarAlerta('Se produjo un error durante la encriptación.');
        });
    });

    // Adjunta el escuchador de eventos a las presentaciones de formularios de desencriptación
    document.getElementById('formularioDesencriptacion').addEventListener('submit', function (event) {
        // Previene el comportamiento por defecto del formulario (recargar la página)
        event.preventDefault();
        
        // Crea un objeto FormData con los datos del formulario
        var formData = new FormData(this);

        // Envía el formulario utilizando la API Fetch y AJAX
        fetch('/decrypt', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())  // Convierte la respuesta a formato JSON
        .then(data => {
            // Procesa la respuesta JSON del servidor
            if (data.success) {
                // Muestra una alerta en caso de éxito
                mostrarAlerta('¡Desencriptación exitosa!');
            } else {
                // Muestra una alerta en caso de error
                mostrarAlerta('¡Error de desencriptación!');
            }
        })
        .catch(error => {
            // Muestra una alerta en caso de error durante la solicitud AJAX
            mostrarAlerta('Se produjo un error durante la desencriptación.');
        });
    });
</script>
</body>
</html>

{% endblock %}