{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}
<h1>Instalaciones necesarias para que funcionen</h1>

<h2>
    <p>App.py</p>

    pip install Flask python-firebase PyCrypto<br>
    pip install python-firebase<br>
    pip install cryptography<br>
    pip install pycryptodome<br>
    pip install pycryptodomex<br>
    pip install firebase-admin python-firebase<br>
    pip install python-firebase<br>
    
    <p>Functions.py</p>
    
    pip install pycryptodome firebase-admin
    </h2>
{% endblock %}