{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}
<div class="titulo">
    <h1 class="titulo">Equipo de Desarrollo</h1>
</div>
<div class="container">
    <div class="card">
        <h2>Cifrado Simétrico</h2>
        <p><strong>librerías: </strong></p>
        <p><strong>Imprescindible para su funcionamiento </strong></p>
    </div>

    <div class="card">
        <h2>Cifrado Asimétrico</h2>
        <p><strong>librerías: </strong></p>
        <p><strong>Imprescindible para su funcionamiento </strong></p>
    </div>

    <div class="card">
        <h2>Cifrado Híbrido</h2>
        <p><strong>librerías: </strong></p>
        <p><strong>Imprescindible para su funcionamiento </strong></p>
    </div>
</div>
{% endblock %}