{% extends "layout.html" %}
{% block title %}
Iniciar Sesion o Registrarse
{% endblock %}
{% block content %}
<br><br>
<form name="Registrarse" method="post">
    <h2>REGISTRARSE</h2>
    <label for="Nom">Nombre:</label><br>
    <input type="text" id="Nom" name="Nom" required><br><br>
    <label for="Ape">Apellidos:</label><br>
    <input type="text" id="Ape" name="Ape" required><br><br>
    <label for="nomUsu">Nombre de Usuario:</label><br>
    <input type="text" id="NomUsu" name="NomUsu" required><br><br>
    <label for="Email">Email:</label><br>
    <input type="text" name="Email" required><br><br>
    <label for="Passwd">Password:</label><br>
    <input type="text" name="Passwd" required><br><br><br>
    <input type="submit" value="Registrarse"><br><br>
</form>
{% endblock %}