<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption</title>
</head>
<body>
<!-- Generacion de Clave -->
    <h1>Generador de Clave</h1>
    <form action="{{ url_for('generar_clave_y_descargar') }}" method="get">
        <button type="submit">Generar y Descargar Clave</button>
    </form>
<!-- Encriptar Imagenes -->
    <h1>Image Encryption</h1>
    <form action="/encrypt_image" method="post" enctype="multipart/form-data">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" accept="image/*" required>
        <br>
        <label for="password_file">Select Password File:</label>
        <input type="file" name="password_file" required>
        <br>
        <button type="submit">Encrypt Image</button>
    </form>
</body>
</html>